docs
.docs


logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.ipynb_checkpoints
*.env
.env/
.vscode/
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
.idea/
*.egg-info/

credentials.json
.credentials.json


logs
